* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;


}

.body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 2.3rem;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
}

.container {
    margin: 1rem;
    border-radius: 0.5rem;
    max-width: 900px;
    display: flex;

}

p {
    color: hsla(0, 0%, 100%, 0.75);

}

.sedan {
    padding: 35px;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.suvs {
    padding: 35px;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    padding: 35px;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.container a {
    display: block;
    padding: 10px 20px;
    border-radius: 500px;
    background: white;
    border: white;
    cursor: pointer;
    width: fit-content;
    margin-top: 7rem;
    margin-bottom: 15px;
    text-decoration: none;
}

.sedan-btn {
    color: hsl(31, 77%, 52%);

}

.suv-btn {
    color: hsl(184, 100%, 22%);
}

.lux-btn {
    color: hsl(179, 100%, 13%);


}

.sedan-btn:hover {
    border: 1px solid white;
    color: white;
    background-color: hsl(31, 77%, 52%);
}

.suv-btn:hover {
    border: 1px solid white;
    color: white;
    background-color: hsl(184, 100%, 22%);
}

.lux-btn:hover {
    border: 1px solid white;
    color: white;
    background-color: hsl(179, 100%, 13%);

}

footer {

    bottom: 0;
    position: sticky;
}

@media screen and (max-width:850px) {
    .container {
        display: flex;
        flex-direction: column;

    }




}